/*<style>
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif:700');
</style>
/*font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Serif', serif;*/

body {
	font-family: 'Noto Sans', sans-serif;
	color: #333333;
	background-image: url('../img/texture.png');
	background-color: #ffffff;
}

.main {
	max-width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.main-header {
	border-radius: 20px;
	padding-bottom: 15px;
}

.main-title {
	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-size: 70px;
}

.main-title-desc {
	font-size: 20px;
}

.main-form {
	margin-top: 70px;
	display: inline-block;
}

.search-query-class {
	font-size: 16px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.button {
  border: none;
  color: #333333;
  height: 36px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none
}

.button-search {
	background-color: #7ADD92;
}

.button-search:hover {
	background-color: #6FC985;
}

.button-random {
	background-color: #4C99FF;
	color: white;
}
.button-random:hover {
	background-color: #468CE8;
}

.articles-list {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}

.articles-preview {
	border: 1px solid #cccccc;
	background-color: white;
	padding: 10px;
	margin-top: 10px;
}

.articles-reference {
	text-decoration: inherit;
    color: inherit;
}
.articles-reference:visited {
	text-decoration: inherit;
    color: inherit;
}